<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Set in order of preference. If doesn't exist, will skip. Ex: "720p,1080p,480p"-->
    <add key="QualityPreference" value="1080p,720p,480p" />

    <!--Set url parts to skip. Comma delimited. Ex: "Apple.com,IGN.com"-->
    <add key="SitesToSkip" value=""/>
    
    <!--Where do you want the trailers downloaded to?-->
    <add key="TrailerDownloadFolder" value="g:\trailers\" />
    <!--Where do you want the metadata downloaded to? Almost always will want it set same as TrailerDownloadFolder-->
    <!--I do some processing of my trailers and then move them afterwards to the metadata folder(s)-->
    <add key="MetadataDownloadFolder" value="g:\trailers" />
    <!--Setting this to true will create a folder for each trailer off the TrailerDownloadFolder and MetadataDownloadFolder-->
    <add key="CreateFolder" value="true" />
    <!--Set to True to download available posters-->
    <add key="GrabPoster" value="true" />
    <!--Set to True to save files with XBMC -trailer appended-->
    <add key="XBMCFileNames" value="true" />
    <!--Set to True to create an XBMC style movie Nfo file. This is accomplished by doing a lookup on IMDB-->
    <add key="CreateXBMCNfoFile" value="true" />
    <!-- if IMDB does not have the IMDB rating using this rating instead PG, PG13, R, etc-->
    <add key="IfIMDBMissingMPAARatingUse" value="PG-13" />
    <!--Delete files/Directories older than X days. Set to 0 to disable and keep all-->
    <add key="KeepFor" value="30" />
    <!--Delete files to recyclebin-->
    <add key="DeleteToRecycleBin" value="true" />
    <!--only interested in trailers, not in special features or inside looks-->
    <add key="TrailersOnly" value = "true"/>
    <!--only interested in trailers, strictly "Trailers" - No longer Used"-->
    <add key="StrictTrailersOnly" value = "true"/>
    <!--For Exclusions, consider Trailers and Theatrical Trailers identical-->
    <add key="TrailersIdenticaltoTheatricalTrailers" value = "true"/>
    <!--skip Theatrical Trailers -->
    <add key="SkipTheatricalTrailers" value = "false"/>
    <!--Consider Theatrical and Numbered Trailers as Identical -->
    <add key="ConsiderTheatricalandNumberedTrailersasIdentical" value = "true"/>
    <!--skip Teaser Trailers -->
    <add key="SkipTeaserTrailers" value = "false"/>
    <!--only download trailers for specific movie Genres (all, drama, comedy, action, etc) use all for all Genres-->
    <add key="IncludedGenres" value="all" />
    <!--exclude trailers for specific movie Genres (all, drama, comedy, action, etc) use none to not exclude anything-->
    <add key="ExcludeGenres" value="None" />
    <!-- define minimum file size (in bytes), avoid content from sites not willing to stream to unknown clients -->
    <add key="MinTrailerSize" value = "100000"/>
    <!--Set to True to add successful downloads to exclusions file and to prevent re-downloading any found in the file-->
    <add key="UseExclusions" value="true" />
    <!--prepends download date to directory or filename of the downloaded trailer-->
    <add key="AddDates" value="true" />
    <!--appends trailer Quality to filename of the downloaded trailer-->
    <add key="AppendTrailerQuality" value="false" />
    <!--the useragent identifier can be set according to the download site. a comma delimited listed of identifier for the download site -->
    <!--has to be matched with a comma delimited list of possible useragent strings -->
    <!-- for example key="UserAgentIds" value="server1.com,server2.com,server3.net" -->
    <add key="UserAgentIds" value="apple.com" />
    <!-- and the definition key="UserAgentStrings" value="agent1,agent2,agent3"-->
    <!-- will supply the useragent 'agent2' while trying to access anything on http://...server2.com.... -->
    <add key="UserAgentStrings" value="QuickTime/7.6.2" />

    <!-- Address of the RSS feed to consume -->
    <!--add key="FeedAddress" value="http://www.hd-trailers.net/blog/feed/" /-->
    <!--add key="FeedAddress" value="http://www.hd-trailers.net/" /-->
    <!--add key="FeedAddress" value="http://www.hd-trailers.net/Page/1/" /-->
    <!--add key="FeedAddress" value="http://www.hd-trailers.net/TopMovies/" /-->
    <!--add key="FeedAddress" value="http://www.hd-trailers.net/OpeningThisWeek/" /-->
    <!--add key="FeedAddress" value="http://www.hd-trailers.net/ComingSoon/" /-->
    <!--add key="FeedAddress" value="http://www.hd-trailers.net/BluRay/" /-->
    <!--add key="FeedAddress" value="http://www.hd-trailers.net/AcademyAward83/" /-->
    <!--add key="FeedAddress" value="http://feeds2.feedburner.com/Feed-For-Trailer-Freaks" /-->
    <!--add key="FeedAddress" value="http://www.moviemaze.de/rss/trailer.phtml" /-->
    <!--add key="FeedAddress" value="http://feeds2.feedburner.com/Feed-For-Trailer-Freaks" /-->
    <add key="FeedAddress" value="http://feeds.hd-trailers.net/hd-trailers" />


    <!--Turn this on only if you want to double-click the .exe for some reason to prevent output from... -->
    <!--disappearing before you can read it.-->
    <add key="PauseWhenDone" value="false" />

    <!-- LOGGING OPTIONS -->
    <!--Setting this to true will significantly increase the logging/output for debugging-->
    <add key="VerboseLogging" value="true" />
    <!--Write log to physical file. HD-Trailers.NET Downloader.log-->
    <add key="PhysicalLog" value="true" />

    <!-- EMAIL INFORMATION OPTIONS --> 
    <!--Want to receive a report of each time the tool runs? Set to True and be sure to fill out the address and server info-->
    <add key="EmailSummary" value="false" />
    <add key="EmailAddress" value="your@email-address.com" />
    <add key="SMTPServer" value="your.smtp.server.net" />
    <add key="SMTPPort" value="25" />
    <!--If UseDefaultCredentials os false, then the username and password need to be set-->
    <!--Please remember that your username and password will be exposed in the config file for all to read!!!-->
    <!--If UseDefaultCredentials is true and SMTPUsername is "", then mail is sent to server anonymously-->
    <add key="UseDefaultCredentials" value="true" />
    <add key="SMTPUsername" value="" />
    <add key="SMTPPassword" value="" />
    <add key="EmailReturnAddress" value="fake_addr@trailers.com" />
    <add key="EmailReturnDisplayName" value="HD-Trailer.NET Downloader" />
    
    
    <!-- Post execution EXE-->
    <!-- Enable and configure to run an executable at the conclusion. Potentially to fire off notification to something like Growl as in example-->
    <!-- %N = # of new videos downloaded this run -->
    
    <add key="RunEXE" value="false" />
    <add key="RunOnlyWhenNewTrailers" value="true"/>
    <add key="Executable" value="D:\Tools Storage\growlnotify\growlnotify.com" />
    <add key="EXEArguements" value="/p:1 &quot;%N New Trailers Downloaded&quot;" />

  </appSettings>
</configuration>